numpy==1.26.4
Flask
torch==2.2.2+cpu
-f https://download.pytorch.org/whl/torch_stable.html
sentence-transformers
pdfplumber
python-dotenv
pytesseract
pdf2image
python-docx
cohere
flask-cors
requests
PyPDF2
Pillow
rank-bm25
scikit-learn
nltk>=3.8
faiss-cpu
gunicorn
pinecone-client
openai
tiktoken
redis
celery
